.deps
.idea
cmake-build-debug
CMakeLists.txt
sky-php7ext/grpc/*
sky-php7ext/configure.ac
sky-php7ext/skywalking.loT
sky-php7ext\.idea
sky-php7ext\*.lo
sky-php7ext\*.la
sky-php7ext\.libs
sky-php7ext\acinclude.m4
sky-php7ext\aclocal.m4
sky-php7ext\autom4te.cache
sky-php7ext\build
sky-php7ext\config.guess
sky-php7ext\config.h
sky-php7ext\config.h.in
sky-php7ext\config.log
sky-php7ext\config.nice
sky-php7ext\config.status
sky-php7ext\config.sub
sky-php7ext\configure
sky-php7ext\configure.in
sky-php7ext\include
sky-php7ext\install-sh
sky-php7ext\libtool
sky-php7ext\ltmain.sh
sky-php7ext\Makefile
sky-php7ext\Makefile.fragments
sky-php7ext\Makefile.global
sky-php7ext\Makefile.objects
sky-php7ext\missing
sky-php7ext\mkinstalldirs
sky-php7ext\modules
sky-php7ext\run-tests.php
sky-php7ext\tests/*/*.diff
sky-php7ext\tests/*/*.out
sky-php7ext\tests/*/*.php
sky-php7ext\tests/*/*.exp
sky-php7ext\tests/*/*.log
sky-php7ext\tests/*/*.sh
